{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<style>
.left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #f1e0b5;
      }

      .left-side img {
        display: block;
        margin-bottom: 10px;
        width: 50px;
      } 
      body {
        background-color: #f1e0b5;
        margin: 0;
        font-family: Roboto, sans-serif;
      }
</style>


<h1> Menu</h1>
<div class="left-side">
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
    <img
      src="{% static 'main/images/coffee-bean.png' %}"
      alt="Left Image"
    />
  </div>

{% if menu_list %}
    <ul>
      {% for menuitem in menu_list %}
      <li>
        <a href="{{ menuitem.get_absolute_url }}">{{ menuitem.name}}</a>
        ({{menuitem.price}})
      </li>
      {% endfor %}
    </ul>
      {% else %}
    <p>There are no books in the library.</p>
    
  {% endif %}


{% endblock content %}