{% extends 'product_service_base.html' %} {% block content %}
<p class="top-overview">
  Purchase our Products for wholesale and other Services below
</p>
<a href="{% url 'product_service_add' %}" class="btn"
  >Add New Product/Service</a
>
<div class="container">
  <div class="row">
    {% for item in items %}
    <div class="col-12 mb-4">
      <div class="form-box row">
        <div class="col-md-4">
          {% if item.image %}
          <img
            src="{{ item.image.url }}"
            alt="{{ item.name }}"
            class="img-fluid small-img"
          />
          {% endif %} {% if item.video %}
          <video controls class="img-fluid small-img">
            <source src="{{ item.video.url }}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          {% endif %}
        </div>
        <div class="col-md-8">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
          <a href="{{ item.link }}" target="_blank" class="btn"
            >Order on External Website</a
          >
          <a href="{% url 'product_service_edit' item.pk %}" class="btn"
            >Edit</a
          >
          <a
            href="{% url 'product_service_confirm_delete' item.pk %}"
            class="btn"
            >Delete</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
