{% extends "main/base.html" %}
{% load static %}

{% block content%}
    <div>
        <h1>Branches</h1>
        <div classname="container">            
            {% for branch in branches %}
            <ul>
                <li><a href="{% url 'branch_detail' branch.id %}">{{ branch.name }}</a></li>
                <li>{{ branch.address }}</li>
                <li>{{ branch.city }}</li>
                <li>{{ branch.zip_code }}</li>
            </ul>
            {% endfor %}
        </div>
    <div>
        <p>Cant see your branch? <a href={%url 'search'%}>Press here to search</a></p>
    </div>
    </div>
{% endblock%}
