{% extends "main/base.html" %}
{% load static %}

{% block content%}
<style>
body {
    background-color: #f1e0b5; 
    margin: 0;
    padding: 0;
    background-position : center; 
    
}
.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    
    padding: 20px;
    
}
.branch_containers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1700px;
    width: 100%;
    padding: 40px; 
    margin: 0 auto;
    justify-content: center;
}

.branch {
    background-color: #d3b38b;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.branch:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.left-side {
    display: flex;  
    padding: 20px;
    background-color: #f1e0b5;
          
}
  
.left-side img {
    display: flex;
    margin-bottom: 10px;
    width: 80px;
}

</style>
    <div class="container">
        <div class="left-side">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
            <img src="{% static 'main/images/coffee-bean.png' %}" alt="Coffee Bean">
        </div>  

        <h1>Coffee Shops</h1>
        
        <div class="branch_containers">            
            {% for branch in branches %}
            
            <div class="branch">
                <h3>{{ branch.name }}</h3>
                <p><stron   g>Address:</strong> {{ branch.address }}</p>
                <p><strong>City:</strong> {{ branch.city }}</p>
                <p><strong>Zip Code:</strong> {{ branch.zip_code }}</p>
            </div>
              
            {% endfor %}
        </div>
    </div>
    
    
{% endblock%}
