{% extends 'main/base.html' %}


{% block content %}

<style>
     body {
        background-color: #f1e0b5;
        margin: 0;
        font-family: Roboto, sans-serif;
      }
</style>

<div class= "content-container">
    <h1>Search for Coffee Shops</h1>
    <form method="get" action="{% url 'search' %}">
        <div>
            <input type="text" name="name" placeholder="Search by name" value="{{ name_query }}">
            <button type="submit" name="search_by" value="name">Search by Name</button>
        </div>
        <div>
            <input type="text" name="address" placeholder="Search by address" value="{{ address_query }}">
            <button type="submit" name="search_by" value="address">Search by Address</button>
        </div>
        <div>
            <input type="text" name="city" placeholder="Search by city" value="{{ city_query }}">
            <button type="submit" name="search_by" value="city">Search by City</button>
        </div>
        <div>
            <input type="text" name="zip_code" placeholder="Search by zip code" value="{{ zip_code_query }}">
            <button type="submit" name="search_by" value="zip_code">Search by Zip Code</button>
        </div>
    </form>
    <h2>Results for "{% if name_query %}{{ name_query }}{% endif %}
        {% if address_query %}, {{ address_query }}{% endif %}
        {% if city_query %}, {{ city_query }}{% endif %}
        {% if zip_code_query %}, {{ zip_code_query }}{% endif %}":</h2>


    <ul>
        {% for branch in results %}
        <li><a href="{% url 'branch_detail' branch.id %}">{{ branch.name }}</a></li>
        {% empty %}
            <li>No coffee shops found.</li>
        {% endfor %} 
    </ul>

    <div class="button-container" >
        <p>User role: {{ user_role }}</p>
        {% if user.is_superuser or user_role == 'admin' %}
        <a href="{% url 'create_branch' %}" class="btn">Create a New Branch</a>
        {% endif %}  
    </div>
</div>
{% endblock content %}