<!-- templates/navbar.html -->
<nav>
    <div>
        {% url 'index' as index_url %}
        <span>{% if request.path == index_url %}Home {% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>

        {% url 'upload' as upload_url %}
        <span>{% if request.path == upload_url %}Upload {% else %}<a href="{{ upload_url }}">Upload</a>{% endif %}</span>

        {% url 'playlist' as playlist_url %}
        <span>{% if request.path == playlist_url %}Your YouTube Playlists{% else %}<a href="{{ playlist_url }}">Login to YouTube</a>{% endif %}</span>
   
        {% url 'spotify' as spotify_url %}
        <span>{% if request.path == spotify_url %} Spotify {% else %}<a href="{{ spotify_url }}"> Spotify Playlists</a>{% endif %}</span>
    </div>
</nav>
