{% extends 'base.html' %}

{% block title %}Spotify{% endblock %}

{% block content %}

<div class="logout-container">
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<div class="column">
    <h1>Your Spotify Playlists</h1>
    <ul>
        {% for playlist in playlists %}
            <li>
                <!-- Link to Spotify Web Player -->
                <a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ playlist.name }}</a>
                
                <!-- Embed Spotify Player -->
                <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                
                          </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
